@model IEnumerable<TICRM.DTOs.DeviceDto>
@{
    ViewBag.Title = "AllDevices";
    Layout = "~/Views/Shared/_LayoutAdminDashboard.cshtml";
}

<div class="page-wrapper">

    <!-- Page Content-->
    <div class="page-content-tab">

        <div class="container-fluid">
            <!-- Page-Title -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <button type="button" class="btn" id="RefreshPage"><i class="fa fa-clock text-primary me-2"></i>Refresh<i class="fa fa-angle-down ms-2"></i></button>
                        <button type="submit" class="btn" id="btnExport"><i class="fa fa-download text-primary me-2"></i>Export<i class="fa fa-angle-down ms-2"></i></button>

                    </div>
                    <div class="page-title-box">
                        <div class="float-end">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="#">SWUICH</a>
                                </li><!--end nav-item-->
                                <li class="breadcrumb-item">
                                    <a href="#">Devices</a>
                                </li><!--end nav-item-->
                                <li class="breadcrumb-item active">Devices</li>
                            </ol>
                        </div>
                        <h4 class="page-title">Devices</h4>
                    </div><!--end page-title-box-->
                </div><!--end col-->
            </div>
            <!-- end page title end breadcrumb -->
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="row align-items-center">
                                <div class="col">
                                    <h4 class="card-title">Devices Details</h4>
                                </div><!--end col-->
                            </div>  <!--end row-->
                        </div><!--end card-header-->
                        <div class="card-body">
                            <div class="table-responsive">
                                <table id="myTable" class="table font-15 page-content-wrapper">
                                    <thead class="thead-light">
                                        <tr>
                                            <th>Name</th>
                                            <th>Mac</th>
                                            <th>EMEI Number</th>
                                            <th>Registration Date</th>
                                            <th>Account</th>
                                            <th>Assets</th>
                                            <th>Assigned Team</th>
                                            <th>Assigned User</th>
                                            <th>Status</th>
                                        </tr><!--end tr-->
                                    </thead>

                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>@item.Name</td>
                                                <td>@item.Mac</td>
                                                <td>@item.EMEINumber</td>
                                                <td>@item.RegistrationDate</td>
                                                <td> @Html.DisplayFor(modelItem => item.Account.Name)</td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.CustomerAsset.Title)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Team.Name)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.User.Name)
                                                </td>
                                                <td>
                                                    @if (item.Status.Name == "Active")
                                                    {
                                                        <span class="badge badge-outline-success">   @Html.DisplayFor(modelItem => item.Status.Name)</span>
                                                    }
                                                    else
                                                    {
                                                        <span class="badge badge-outline-danger">   @Html.DisplayFor(modelItem => item.Status.Name)</span>
                                                    }


                                                </td>
                                            </tr><!--end tr-->
                                        }
                                    </tbody>
                                </table>
                            </div>

                        </div><!--end card-body-->
                    </div><!--end card-->
                </div> <!--end col-->
            </div><!--end row-->

        </div><!-- container -->

    </div>
    <!-- end page content -->
</div>

