@model TICRM.DTOs.DeviceDto

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutTICRM.cshtml";
}

<section class="content">

    <div class="box">
        <div class="box-header">
            <h3 class="box-title">Details Device</h3>
            <hr />
        </div><!-- /.box-header -->
        <div class="box-body">
            <div class="row">
                <div class="col-md-6">

                    <div>
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.Name)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Name)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Mac)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Mac)
                            </dd>

                            <dt>
                                EMEI Number
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.EMEINumber)
                            </dd>

                            <dt>
                                Registration Date
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.RegistrationDate)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Latitude)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Latitude)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Longitude)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Longitude)
                            </dd>



                            <dt>
                                Status
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Status.Name)
                            </dd>

                            <dt>
                                Assigned Team
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Team.Name)
                            </dd>

                            <dt>
                                Assigned User
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.User.Name)
                            </dd>

                        </dl>
                    </div>
                    <p>
                        @Html.ActionLink("Edit", "Edit", new { id = Model.DeviceId }) |
                        @Html.ActionLink("Back to List", "Index")
                    </p>

                </div>
                <div class="col-md-6"></div>
            </div>
        </div>
    </div>

</section>
@Styles.Render("~/bundles/DevicesCSS")

@Scripts.Render("~/bundles/DevicesScript")