
@model TICRM.DTOs.WorkOrderDto

<div class="modal-header modal-header-rightside">
    <h5 class="modal-header-title" id="exampleModalLabel">WORKORDER DELETE</h5>
    <button type="button" class="close modalrightsideClose" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">X</span>
    </button>
</div>
<div class="modal-body">
    <div class="tab-content">
        <div class="tab-pane active show" id="m_portlet_tab_Leads" role="tabpanel">

            <div class="row container">
                <table class="tb-horizontal">
                    <tr>
                        <th class="blockquote">@Html.DisplayNameFor(model => model.Title)</th>
                        <td class="blockquote">@Html.DisplayFor(model => model.Title)</td>
                    </tr>
                    <tr>
                        <th class="blockquote"> NTE</th>
                        <td class="blockquote">@Html.DisplayFor(model => model.NTE)</td>
                    </tr>
                    <tr>
                        <th class="blockquote">@Html.DisplayNameFor(model => model.Description)</th>
                        <td class="blockquote">@Html.DisplayFor(model => model.Description)</td>
                    </tr>
                    <tr>
                        <th class="blockquote">@Html.DisplayNameFor(model => model.Status.Name)</th>
                        <td class="blockquote">@Html.DisplayFor(model => model.Status.Name)</td>
                    </tr>
                    <tr>
                        <th class="blockquote">Assigned Team</th>
                        <td class="blockquote">@Html.DisplayFor(model => model.Team.Name)</td>
                    </tr>
                    <tr>
                        <th class="blockquote"> Assigned User</th>
                        <td class="blockquote">@Html.DisplayFor(model => model.User.Name)</td>
                    </tr>
                    <tr>
                        <th class="blockquote"> Workstage</th>
                        <td class="blockquote">@Html.DisplayFor(model => model.WorkStage.Name)</td>
                    </tr>
                    <tr>
                        <th class="blockquote"> Account</th>
                        <td class="blockquote">@Html.DisplayFor(model => model.Account.Name)</td>
                    </tr>
                </table>
            </div>
        </div>

    </div>
</div>
<div class="modal-footer modal-rightside-footer">

    @using (Html.BeginForm("Delete/" + Model.WorkOrderId, "WorkOrders", FormMethod.Post, new { id = "DeleteForm" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <button type="button" id="deletebtn" onclick="Delete_Record()" class="btn btn-success"> Confirm</button>
            <button type="button" onclick="$('#m_modal_Delete').modal('hide');" class="btn btn-secondary"><i class="la la-refresh"></i> Cancel</button>
        </div>
    }
</div>




<script type="text/javascript" src="~/TIScripts/ModulesScripts/WorkOrders.js"></script>


