@model TICRM.DTOs.AlertDto

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutTICRM.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Alert</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

       

        <dt>
           Status
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status.Name)
        </dd>

        <dt>
            Assigned Team
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Team.Name)
        </dd>

        <dt>
            Urgency
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Urgency.Name)
        </dd>

        <dt>
           Assigned User
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AlertId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
