@model TICRM.DTOs.WorkFlowNodeDTO

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutDataTable.cshtml";
}

<h2>Details</h2>

<div>
    <h4>WorkFlowNode</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.text)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.text)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.key)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.key)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.figure)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.figure)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fill)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fill)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.loc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.loc)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.NodeDataId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
