@model TICRM.DTOs.CustomerAssetDto

@{
    ViewBag.Title = "Create Customer Assets";
}

<!-- BEGIN: Subheader -->
<div class="m-subheader ">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">Customer Assets</h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a href="@Url.Action("Index","Home")" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon la la-home"></i>
                    </a>
                </li>
                <li class="m-nav__separator">-</li>
                <li class="m-nav__item">
                    <a href="@Url.Action("Index","CustomerAssets")" class="m-nav__link">
                        <span class="m-nav__link-text">Customer Assets</span>
                    </a>
                </li>
                <li class="m-nav__separator">-</li>
                <li class="m-nav__item">
                    <a href="@Url.Action("Create","CustomerAssets")" class="m-nav__link">
                        <span class="m-nav__link-text">@ViewBag.Title</span>
                    </a>
                </li>
            </ul>
        </div>

    </div>
</div>

<!-- END: Subheader -->
<div class="m-content">
    <div class="row">
        <div class="col-lg-12">
            <!--begin::Portlet-->
            <div class="m-portlet">

                <!--begin::Form-->

                @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "CustomerAssetsCreateForm", @class = "m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="m-portlet__body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="form-group m-form__group row">
                            <div class="col-lg-6">
                                @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control m-input" } })
                                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-lg-6">
                                @Html.LabelFor(model => model.CustomerAssetTypeId, "Asset Type", htmlAttributes: new { @class = "control-label" })
                                @Html.DropDownListFor(model => model.CustomerAssetTypeId, Model.CustomerAssetTypeDropdown, "-- Select --", htmlAttributes: new { @class = "form-control m-input" })
                                @Html.ValidationMessageFor(model => model.CustomerAssetTypeId, "", new { @class = "text-danger" })
                            </div>

                            <div class="col-lg-6">
                                @Html.LabelFor(model => model.AccountId, "AccountId", htmlAttributes: new { @class = "control-label" })
                                @Html.DropDownListFor(model => model.AccountId, Model.AccountsDropdown, "-- Select --", htmlAttributes: new { @class = "form-control m-input", multiple = "multiple" })
                                @Html.ValidationMessageFor(model => model.AccountId, "", new { @class = "text-danger" })
                            </div>

                            <div class="col-lg-6">
                                @Html.LabelFor(model => model.LocationId, "LocationId", htmlAttributes: new { @class = "control-label" })
                                @Html.DropDownListFor(model => model.LocationId, Model.LocationDropdown, "-- Select --", htmlAttributes: new { @class = "form-control m-input" })
                                @Html.ValidationMessageFor(model => model.LocationId, "", new { @class = "text-danger" })
                            </div>

                            <div class="col-lg-6">
                                @Html.LabelFor(model => model.Manufacture, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.Manufacture, new { htmlAttributes = new { @class = "form-control m-input" } })
                                @Html.ValidationMessageFor(model => model.Manufacture, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-lg-6">

                                @Html.LabelFor(model => model.Model, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.Model, new { htmlAttributes = new { @class = "form-control m-input" } })
                                @Html.ValidationMessageFor(model => model.Model, "", new { @class = "text-danger" })
                            </div>

                            <div class="col-lg-6">
                                @Html.LabelFor(model => model.YearOfManufacture, "Year Of Manufacture", htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.YearOfManufacture, new { htmlAttributes = new { @class = "form-control m-input" } })
                                @Html.ValidationMessageFor(model => model.YearOfManufacture, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-lg-6">
                                @Html.LabelFor(model => model.StatusId, "Status", htmlAttributes: new { @class = "control-label" })
                                <div class="m-input-icon m-input-icon--right">
                                    @Html.DropDownListFor(model => model.StatusId, Model.StatusDropdown, "-- Select --", htmlAttributes: new { @class = "form-control m-input", @id = "status" })
                                    @Html.ValidationMessageFor(model => model.StatusId, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="col-lg-6">
                                @Html.LabelFor(model => model.Value, "Asset Value", htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.Value, new { htmlAttributes = new { @class = "form-control m-input" } })
                                @Html.ValidationMessageFor(model => model.Value, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-lg-6">
                                @Html.LabelFor(model => model.DepriciatedValue, "Depriciated Value", htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.DepriciatedValue, new { htmlAttributes = new { @class = "form-control m-input" } })
                                @Html.ValidationMessageFor(model => model.DepriciatedValue, "", new { @class = "text-danger" })
                            </div>

                            <div class="col-lg-6">
                                @Html.LabelFor(model => model.SKU, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.SKU, new { htmlAttributes = new { @class = "form-control m-input" } })
                                @Html.ValidationMessageFor(model => model.SKU, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-lg-6">
                                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label" })
                                <div class="m-input-icon m-input-icon--right">
                                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control m-input" } })
                                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="col-lg-6">
                                @Html.LabelFor(model => model.AssignedUser, "Assigned User", htmlAttributes: new { @class = "control-label" })
                                <div class="m-input-icon m-input-icon--right">
                                    @Html.DropDownListFor(model => model.AssignedUser, Model.AssignedUserDropdown, "-- Select --", htmlAttributes: new { @class = "form-control m-input" })
                                    @Html.ValidationMessageFor(model => model.AssignedUser, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-lg-6">
                                @Html.LabelFor(model => model.AssignedTeam, "Assigned Team", htmlAttributes: new { @class = "control-label" })
                                <div class="m-input-icon m-input-icon--right">
                                    @Html.DropDownListFor(model => model.AssignedTeam, Model.AssignedTeamDropdown, "-- Select --", htmlAttributes: new { @class = "form-control m-input" })
                                    @Html.ValidationMessageFor(model => model.AssignedTeam, "", new { @class = "text-danger" })
                                </div>
                            </div>

                        </div>


                    </div>

                    <div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
                        <div class="m-form__actions m-form__actions--solid">
                            <div class="row">
                                <div class="col-lg-6">
                                    <button type="button" id="savebtn" class="btn btn-success"><i class="la la-save"></i> Submit</button>
                                    <button type="reset" class="btn btn-secondary"><i class="la la-refresh"></i> Cancel</button>
                                </div>
                                <div class="col-lg-6 m--align-right">
                                    <a href="/CustomerAssets/Index" class="btn btn-secondary m-btn m-btn--icon m-btn--wide m-btn--md m--margin-right-10">
                                        <span>
                                            <i class="la la-arrow-left"></i>
                                            <span>Back to List</span>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" id="loc" name="loc">

                }
                <!--end::Form-->
            </div>
            <!--end::Portlet-->
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/CustomerAssetsScript")