@model TICRM.DTOs.CustomerAssetDto

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutTICRM.cshtml";
}

<h2>Details</h2>

<div>
    <h4>CustomerAsset</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Manufacture)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Manufacture)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Model)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Model)
        </dd>

        <dt>
            Year Of Manufacture
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YearOfManufacture)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Value)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Value)
        </dd>

        <dt>
            Depriciated Value
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DepriciatedValue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SKU)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SKU)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>


        <dt>
            Customer Asset Type
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerAssetType.Name)
        </dd>

        <dt>
            Status
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status.Name)
        </dd>

        <dt>
            Assigned Team
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Team.Name)
        </dd>

        <dt>
            Assigned User
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CustomerAssetId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
@Scripts.Render("~/bundles/CustomerAssetsScript")