@model TICRM.DTOs.WorkFlowDTO


<div class="modal-header modal-header-rightside">
    <h5 class="modal-header-title" id="exampleModalLabel">WORKFLOWS DETAILS</h5>
    <button type="button" class="close modalrightsideClose" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">X</span>
    </button>
</div>
<div class="modal-body">
    <div class="tab-content">
        <div class="tab-pane active show" id="m_portlet_tab_Leads" role="tabpanel">

            <div class="row container">
                <table class="tb-horizontal">
                    <tr>
                        <th class="blockquote">@Html.DisplayNameFor(model => model.Name)</th>
                        <td class="blockquote">@Html.DisplayFor(model => model.Name)</td>
                    </tr>
                    <tr>
                        <th class="blockquote"> Trigger Condition</th>
                        <td class="blockquote">@Html.DisplayFor(model => model.TriggerCondition)</td>
                    </tr>
                    <tr>
                        <th class="blockquote">@Html.DisplayNameFor(model => model.TriggerIn)</th>
                        <td class="blockquote">@Html.DisplayFor(model => model.TriggerIn)</td>
                    </tr>
                    <tr>
                        <th class="blockquote">@Html.DisplayNameFor(model => model.TriggerOut)</th>
                        <td class="blockquote">@Html.DisplayFor(model => model.TriggerOut)</td>
                    </tr>
                    <tr>
                        <th class="blockquote">TargetOn</th>
                        <td class="blockquote">@Html.DisplayFor(model => model.TargetOn)</td>
                    </tr>
                    <tr>
                        <th class="blockquote">@Html.DisplayNameFor(model => model.Description)</th>
                        <td class="blockquote">@Html.DisplayFor(model => model.Description)</td>
                    </tr>
                    <tr>
                        <th class="blockquote">@Html.DisplayNameFor(model => model.WorkFlowStatus)</th>
                        <td class="blockquote">@Html.DisplayFor(model => model.WorkFlowStatus)</td>
                    </tr>
                    <tr>
                        <th class="blockquote">@Html.DisplayNameFor(model => model.AppliedTo)</th>
                        <td class="blockquote">@Html.DisplayFor(model => model.AppliedTo)</td>
                    </tr>
                    <tr>
                        <th class="blockquote">@Html.DisplayNameFor(model => model.Priority)</th>
                        <td class="blockquote">@Html.DisplayFor(model => model.Priority)</td>
                    </tr>
                    <tr>
                        <th class="blockquote">@Html.DisplayNameFor(model => model.Frequency)</th>
                        <td class="blockquote">@Html.DisplayFor(model => model.Frequency)</td>
                    </tr>
                    <tr>
                        <th class="blockquote">@Html.DisplayNameFor(model => model.Action)</th>
                        <td class="blockquote">@Html.DisplayFor(model => model.Action)</td>
                    </tr>
                    <tr>
                        <th class="blockquote">@Html.DisplayNameFor(model => model.CreatedBy)</th>
                        <td class="blockquote">@Html.DisplayFor(model => model.CreatedBy)</td>
                    </tr>
                    <tr>
                        <th class="blockquote">@Html.DisplayNameFor(model => model.CreatedDate)</th>
                        <td class="blockquote">@Html.DisplayFor(model => model.CreatedDate)</td>
                    </tr>
                    <tr>
                        <th class="blockquote">@Html.DisplayNameFor(model => model.UpdatedBy)</th>
                        <td class="blockquote">@Html.DisplayFor(model => model.UpdatedBy)</td>
                    </tr>
                    <tr>
                        <th class="blockquote">@Html.DisplayNameFor(model => model.UpdatedDate)</th>
                        <td class="blockquote">@Html.DisplayFor(model => model.UpdatedDate)</td>
                    </tr>
                    <tr>
                        <th class="blockquote">Assigned Team</th>
                        <td class="blockquote">@Html.DisplayFor(model => model.Team.Name)</td>
                    </tr>
                    <tr>
                        <th class="blockquote"> Assigned User</th>
                        <td class="blockquote">@Html.DisplayFor(model => model.User.Name)</td>
                    </tr>
                </table>
            </div>
        </div>

    </div>
</div>
<div class="modal-footer modal-rightside-footer">
    <a href="@Url.Action("Edit", "WorkFlows" , new { id=Model.WorkFlowId })" class="btn btn-primary m-btn m-btn--custom m-btn--icon m-btn--air"><i class="fa fa-pencil-alt"></i> &nbsp; Edit</a>
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
</div>


