@model TICRM.DTOs.LocationDto

@{
    ViewBag.Title = "DeviceLocationDetail";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";

}

<style>
    .inp-bor {
        border: 1px solid #e8ebf3;
    }
</style>
<div class="page-wrapper">
    <!-- Page Content-->
    <div class="page-content-tab">
        <div class="container-fluid">
            <div class="form-group">
                <button type="button" class="btn " onclick="location.href='@Url.Action("Create", "Locations")'"><i class="fa fa-plus-circle text-primary me-2"></i>New<i class="fa fa-angle-down ms-2"></i></button>
                <button type="button" class="btn" id="RefreshPage"><i class="fa fa-clock text-primary me-2"></i>Refresh<i class="fa fa-angle-down ms-2"></i></button>
            </div>
            <!-- Page-Title -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title-box">
                        <h4 class="page-title"><b>@Html.DisplayFor(model => model.Name)</b></h4>
                    </div>
                    <div class="card">
                        <div class="card-body">

                            <div>

                                <!--end page-title-box-->
                                <!--end col-->

                                <div class="col-sm-12">
                                    <div class="tab-content" id="nav-tabContent">
                                        <div class="tab-pane active">
                                            <div class="row">
                                                <h4 class="card-title mt-3 mb-1"><span class="fa fa-info-circle" style="margin-left:25px"> Device Location Detail</span></h4>
                                                <br />
                                                <div class="mb-3 row">

                                                </div>
                                                <div class="col-md-6">
                                                    <div class="mb-3 row">
                                                        <label for="example-text-input" class="col-lg-2 col-md-3 col-sm-3 col-form-label text-end">Name<span class="text-danger">  *</span></label>
                                                        <div class="col-lg-10 col-md-9 col-sm-9">
                                                            <div class=" p-2 border bg-light">@Html.DisplayFor(model => model.Name)</div>
                                                        </div>
                                                    </div>
                                                    <div class="mb-3 row">
                                                        <label for="example-text-input" class="col-lg-2 col-md-3 col-sm-3 col-form-label text-end">Latitude<span class="text-danger">  *</span></label>
                                                        <div class="col-lg-10 col-md-9 col-sm-9">
                                                            <div class=" p-2 border bg-light">@Html.DisplayFor(model => model.Latitude)</div>
                                                        </div>
                                                    </div>
                                                    <div class="mb-3 row">
                                                        <label for="example-text-input" class="col-lg-2 col-md-3 col-sm-3 col-form-label text-end">Address<span class="text-danger">  *</span></label>
                                                        <div class="col-lg-10 col-md-9 col-sm-9">
                                                            <div class=" p-2 border bg-light">@Html.DisplayFor(model => model.Address.Street1)</div>
                                                        </div>
                                                    </div>


                                                    <div class="mb-3 row">
                                                        <label for="example-text-input" class="col-lg-2 col-md-3 col-sm-3 col-form-label text-end">Location<span class="text-danger">  *</span></label>
                                                        <div class="col-lg-10 col-md-9 col-sm-9">
                                                            <div class=" p-2 border bg-light">@Html.DisplayFor(model => model.LocationType.Name)</div>
                                                        </div>
                                                    </div>


                                                    <div class="mb-3 row">
                                                        <label for="example-text-input" class="col-lg-2 col-md-3 col-sm-3 col-form-label text-end">Description<span class="text-danger">  *</span></label>
                                                        <div class="col-lg-10 col-md-9 col-sm-9">
                                                            <div class=" p-2 border bg-light">@Html.DisplayFor(model => model.Description)</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="mb-3 row">
                                                        <label for="example-text-input" class="col-lg-2 col-md-3 col-sm-3 col-form-label text-end">Account<span class="text-danger">  *</span></label>
                                                        <div class="col-lg-10 col-md-9 col-sm-9">
                                                            <div class=" p-2 border bg-light">@Html.DisplayFor(model => model.Account.Name)</div>
                                                        </div>
                                                    </div>
                                                    <div class="mb-3 row">
                                                        <label for="example-text-input" class="col-lg-2 col-md-3 col-sm-3 col-form-label text-end">Longitude<span class="text-danger">  *</span></label>
                                                        <div class="col-lg-10 col-md-9 col-sm-9">
                                                            <div class=" p-2 border bg-light">@Html.DisplayFor(model => model.Longitude)</div>
                                                        </div>
                                                    </div>


                                                    <div class="mb-3 row">
                                                        <label for="example-text-input" class="col-lg-2 col-md-3 col-sm-3 col-form-label text-end">Status<span class="text-danger">  *</span></label>
                                                        <div class="col-lg-10 col-md-9 col-sm-9">
                                                            <div class=" p-2 border bg-light">@Html.DisplayFor(model => model.Status.Name)</div>
                                                        </div>
                                                    </div>
                                                    <div class="mb-3 row">
                                                        <label for="example-text-input" class="col-lg-2 col-md-3 col-sm-3 col-form-label text-end">Assigned User<span class="text-danger">  *</span></label>
                                                        <div class="col-lg-10 col-md-9 col-sm-9">
                                                            <div class=" p-2 border bg-light">@Html.DisplayFor(model => model.User.Name)</div>
                                                        </div>
                                                    </div>
                                                    <div class="mb-3 row">
                                                        <label for="example-text-input" class="col-lg-2 col-md-3 col-sm-3 col-form-label text-end">Assigned Team<span class="text-danger">  *</span></label>
                                                        <div class="col-lg-10 col-md-9 col-sm-9">
                                                            <div class=" p-2 border bg-light">@Html.DisplayFor(model => model.Team.Name)</div>
                                                        </div>
                                                    </div>




                                                </div><!--end col-->
                                            </div><!--end row-->
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <a href="/Locations/Index" class="btn btn-primary ">
                                                <i class="la la-arrow-left"></i>
                                                <span>Back to List</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                           
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/TIjQuery/AccountDetailjQuery.js"></script>