@model IEnumerable<TICRM.DTOs.EmailTemplateDTO>

@{
    ViewBag.Title = "EmailTemplates";
}

<!-- BEGIN: Subheader -->
<div class="m-subheader ">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">Email Templates</h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a href="@Url.Action("Index","Dashboard")" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon la la-home"></i>
                    </a>
                </li>
                <li class="m-nav__separator">-</li>
                <li class="m-nav__item">
                    <a href="@Url.Action("Index","EmailTemplates")" class="m-nav__link">
                        <span class="m-nav__link-text">Email Templates</span>
                    </a>
                </li>
            </ul>
        </div>
        <!--Create Button-->
        <div>
            <a href="@Url.Action("Create", "EmailTemplates" )" class="btn btn-primary m-btn m-btn--custom m-btn--icon m-btn--air">
                <span>
                    <i class="la la-plus"></i>
                    <span>New Email Templates</span>
                </span>
            </a>
        </div>
    </div>
</div>
<!-- END: Subheader -->
<div class="m-content">

    <div class="m-portlet m-portlet--mobile">

        <div class="m-portlet__body">

            <!--begin: Datatable -->
            <table class="table table-striped- table-bordered table-hover table-checkable" id="m_table_1">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Subject)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Body)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CreatedDate)
                        </th>
                        @* <th>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdatedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdatedBy)
        </th>*@
                        <th>
                            Configure Email
                        </th>
                        <th>
                            WorkFlow
                        </th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Subject)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Body)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreatedDate)
                        </td>
                        @*<td>
            @Html.DisplayFor(modelItem => item.CreatedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpdatedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpdatedBy)
        </td>*@
                        <td>
                            @Html.DisplayFor(modelItem => item.EmailConfiguration.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.WorkFlow.Name)
                        </td>
                        <td>
                            <a href="/EmailTemplates/Edit/@item.EmailTemplateId"><i class="fa fa-edit"></i></a> |
                            <a href="#" onclick="LoadModalForDetails('@item.EmailTemplateId')" class="arial"><i class="fa fa-eye"></i></a> |
                            <a href="#" onclick="LoadModalForDelete('@item.EmailTemplateId')" class="arial"><i class="fa fa-trash"></i></a>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>


    <!-- END EXAMPLE TABLE PORTLET-->
</div>

@Scripts.Render("~/bundles/EmailTemplatesScript")