@model TICRM.DTOs.AccountViewModel


<div class="m-portlet m-portlet--tabs">
    <div class="m-portlet__head">
        <div class="m-portlet__head-tools">
            <ul class="nav nav-tabs m-tabs-line m-tabs-line--success m-tabs-line--2x" role="tablist">
                <li class="nav-item m-tabs__item">
                    <a class="nav-link m-tabs__link active show" data-toggle="tab" href="#m_portlet_tab_Account" role="tab" aria-selected="true">
                        <i class="la la-user-md"></i> Account
                    </a>
                </li>
                <li class="nav-item m-tabs__item">
                    <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_portlet_tab_Assets" role="tab" aria-selected="false">
                        <i class="la la-briefcase"></i> Assets
                    </a>
                </li>
                <li class="nav-item m-tabs__item">
                    <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_portlet_tab_Location" role="tab" aria-selected="false">
                        <i class="la la-map-o"></i>Location
                    </a>
                </li>
                <li class="nav-item m-tabs__item">
                    <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_portlet_tab_Devices" role="tab" aria-selected="false">
                        <i class="la la-desktop"></i>Devices
                    </a>
                </li>
                <li class="nav-item m-tabs__item">
                    <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_portlet_tab_Oppertunity" role="tab" aria-selected="false">
                        <i class="la la-bell-o"></i>Oppertunity
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="m-portlet__body">
        <div class="tab-content">
            <div class="tab-pane active show" id="m_portlet_tab_Account" role="tabpanel">
                <div class="box-header clearfix">
                    <a href="/Accounts/Create" class="btn btn-sm btn-default btn-flat pull-left"><i class="fa fa-plus"></i></a>
                    <a href="/Accounts/Index" class="btn btn-sm btn-default btn-flat pull-right"><i class="fa  fa-list"></i></a>
                </div>
                <div class="clearfix">
                    <hr />
                </div>
                <div class="row">
                    <table class="table" id="m_table_accountDetail">

                        <tr><th width="30%">Name</th><td>@Model.account.Name</td></tr>
                        @if (@Model.account.AccountSize != null)
                        {
                            <tr><th width="30%">AccountSize</th><td>@Model.account.AccountSize.Name</td></tr>
                        }
                        @if (@Model.account.AccountType != null)
                        {
                            <tr><th width="30%">AccountType</th><td>@Model.account.AccountType.Name</td></tr>
                        }
                        @if (@Model.account.Address != null)
                        {
                            <tr><th width="30%">Billing Address</th><td>@Model.account.Address.Street1</td></tr>
                        }
                        @if (@Model.account.Address1 != null)
                        {
                            <tr><th width="30%">Shipping Address</th><td>@Model.account.Address1.Street1</td></tr>
                        }
                        <tr><th width="30%">Email</th><td>@Model.account.Email</td></tr>
                        <tr><th width="30%">Fax</th><td>@Model.account.Fax</td></tr>
                        <tr><th width="30%">WebSite</th><td>@Model.account.WebSite</td></tr>
                        @if (@Model.account.Industry != null)
                        {
                            <tr><th width="30%">Industry</th><td>@Model.account.Industry.Name</td></tr>
                        }
                        <tr><th width="30%">PhoneOffice</th><td>@Model.account.PhoneOffice</td></tr>
                        @if (@Model.account.Status != null)
                        {
                            <tr><th width="30%">Status</th><td>@Model.account.Status.Name</td></tr>
                        }
                        @if (@Model.account.Team != null)
                        {
                            <tr><th width="30%">Team</th><td>@Model.account.Team.Name</td></tr>
                        }
                        @if (@Model.account.User != null)
                        {
                            <tr><th width="30%">User</th><td>@Model.account.User.Name</td></tr>
                        }

                    </table>
                </div>

            </div>
            <div class="tab-pane" id="m_portlet_tab_Assets" role="tabpanel">
                <div class="box-header clearfix">
                    <a href="/CustomerAssets/Create" class="btn btn-sm btn-default btn-flat pull-left"><i class="fa fa-plus"></i></a>
                    <a href="/CustomerAssets/Index" class="btn btn-sm btn-default btn-flat pull-right"><i class="fa  fa-list"></i></a>
                </div>
                <div class="clearfix">
                    <hr />
                </div>

                <table class="table table-striped- table-bordered table-hover table-checkable table-responsive nowrap" id="m_table_Assets">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>SKU</th>
                            <th>Manufacture</th>
                            <th>Model</th>
                            <th>Year</th>
                            <th>Value</th>
                            <th>Depriciated Value</th>
                            <th>Description</th>
                            <th>Type</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.accountAssetes)
                        {
                        <tr>
                            <td>@item.Title</td>
                            <td>@item.SKU</td>
                            <td>@item.Manufacture</td>
                            <td>@item.Model</td>
                            <td>@item.YearOfManufacture</td>
                            <td>@item.Value</td>
                            <td>@item.DepriciatedValue</td>
                            <td>@item.Description</td>
                            <td>@item.CustomerAssetType.Name</td>
                        </tr>
                        }
                    </tbody>
                </table>

            </div>
            <div class="tab-pane" id="m_portlet_tab_Location" role="tabpanel">

                <div class="box-header clearfix">
                    <a href="/Locations/Create" class="btn btn-sm btn-default btn-flat pull-left"><i class="fa fa-plus"></i></a>
                    <a href="/Locations/Index" class="btn btn-sm btn-default btn-flat pull-right"><i class="fa  fa-list"></i></a>
                </div>
                <div class="clearfix">
                    <hr />
                </div>

                <table class="table table-striped- table-bordered table-hover table-checkable" id="m_table_Location">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Latitude</th>
                            <th>Longitude</th>
                            <th>Address</th>
                            <th>Location</th>
                            <th>Status</th>
                            <th>Assigned Team</th>
                            <th>Assigned User</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.accountLocations)
                        {
                            <tr>
                                <td>
                                    @Html.ActionLink(item.Name, "Edit","Locations", new { id = item.LocationId })
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Description)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Latitude)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Longitude)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.Address.Street1)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.LocationType.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Status.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Team.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.User.Name)
                                </td>
                                <td>
                                    @Html.ActionLink("Details", "Details", new { id = item.LocationId }) |
                                    @Html.ActionLink("Delete", "Delete", new { id = item.LocationId })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
            <div class="tab-pane" id="m_portlet_tab_Devices" role="tabpanel">
                <div class="box-header clearfix">
                    <a href="/Devices/Create" class="btn btn-sm btn-default btn-flat pull-left"><i class="fa fa-plus"></i></a>
                    <a href="/Devices/Index" class="btn btn-sm btn-default btn-flat pull-right"><i class="fa  fa-list"></i></a>
                </div>
                <div class="clearfix">
                    <hr />
                </div>
                <table class="table table-striped- table-bordered table-hover table-checkable display nowrap" id="m_table_Device">
                    <thead>
                        <tr>
                            <th>EMEINumber</th>
                            <th>Name</th>
                            <th>Mac</th>
                            <th>RegistrationDate</th>
                            <th>Latitude</th>
                            <th>Longitude</th>
                            <th>Status</th>
                            <th>Assigned Team</th>
                            <th>Assigned User</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.accountDevices)
                        {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.EMEINumber)
                            </td>
                            <td>
                                @Html.ActionLink(item.Name, "Edit", "Devices", new { id = item.DeviceId }, null)
                            </td>
                            <td>
                                <button type="button" onclick="MACAddressSelected()" value="@item.Mac" class="btn btn-xs btn-link">@item.Mac</button>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.RegistrationDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Latitude)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Longitude)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.Status.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Team.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.User.Name)
                            </td>
                            <td>
                                <button type="button" onclick="MACAddressSelected()" value="@item.Mac" class="btn btn-sm btn-primary">View</button>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="tab-pane" id="m_portlet_tab_Oppertunity" role="tabpanel">
                <div class="box-footer clearfix">
                    <a href="/Opportunities/Create" class="btn btn-sm btn-default btn-flat pull-left"><i class="fa fa-plus"></i></a>
                    <a href="/Opportunities/Index" class="btn btn-sm btn-default btn-flat pull-right"><i class="fa  fa-list"></i></a>
                </div>
                <div class="clearfix">
                    <hr />
                </div>
                <table class="table table-striped- table-bordered table-hover table-checkable" id="m_table_Opportunity">
                    <thead>
                        <tr>
                            <th>Amount</th>
                            <th>Title</th>
                            <th>Description</th>
                            <th>Currency</th>
                            <th>Assigned Team</th>
                            <th>Assigned User</th>
                            <th>Opportunity Stage</th>
                            <th>Pobability</th>
                            <th>Status</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.accountOppertunities)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Amount)
                                </td>
                                <td>
                                    @Html.ActionLink(item.Title, "Edit", new { id = item.OpportunityId })
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Description)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Currency.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Team.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.User.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.OpportunityStage.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Pobability.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Status.Name)
                                </td>
                                <td>
                                    @*@Html.ActionLink("Edit", "Edit", new { id = item.OpportunityId }) |*@
                                    @Html.ActionLink("Details", "Details", new { id = item.OpportunityId }) |
                                    @Html.ActionLink("Delete", "Delete", new { id = item.OpportunityId })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>
