@model IEnumerable<TICRM.DTOs.WorkFlowDTO>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}



<div class="page-wrapper">

    <!-- Page Content-->
    <div class="page-content-tab">

        <div class="container-fluid">
            <!-- Page-Title -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <button type="button" class="btn TopPageButton" onclick="location.href='@Url.Action("Create", "WorkFlows")'"><i class="fa fa-plus-circle text-primary me-2"></i>New<i class="fa fa-angle-down ms-2"></i></button>
                        <button type="button" class="btn TopPageButton" id="RefreshPage"><i class="fa fa-clock text-primary me-2"></i>Refresh<i class="fa fa-angle-down ms-2"></i></button>
                        <button type="submit" class="btn TopPageButton" id="btnExport"><i class="fa fa-download text-primary me-2"></i>Export<i class="fa fa-angle-down ms-2"></i></button>

                    </div>
                    <div class="page-title-box">
                        <div class="float-end">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="#">Swuich</a>
                                </li><!--end nav-item-->
                                <li class="breadcrumb-item">
                                    <a href="#">Work Flow</a>
                                </li><!--end nav-item-->
                                <li class="breadcrumb-item active">Work Flows</li>
                            </ol>
                        </div>
                        <span class="page-title">Work Flows</span>
                    </div><!--end page-title-box-->
                </div><!--end col-->
            </div>
            <!-- end page title end breadcrumb -->
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="row align-items-center">
                                <div class="col">
                                    <h4 class="card-title">Work Flows Details</h4>
                                </div><!--end col-->
                            </div>  <!--end row-->
                        </div><!--end card-header-->
                        <div class="card-body">
                            <div class="table-responsive">
                                <table id="myTable" class="table font-15 page-content-wrapper">
                                    <thead class="thead-light">
                                        <tr>
                                            <th>Name</th>
                                            <th>Device</th>
                                            <th>Account</th>
                                            <th>Sensor</th>
                                            <th>Threshold</th>
                                            <th>Priority</th>
                                            <th>WorkFlow Action</th>
                                            <th>Description</th>
                                            <th>Actions</th>
                                        </tr><!--end tr-->
                                    </thead>

                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>
                                                    <a href="@Url.Action("WorkFlowDetail", "WorkFlows", new { id = item.WorkFlowId })">@item.Name</a>
                                                </td>
                                                <td>@item.DeviceName</td>
                                                <td>@item.AccountName</td>
                                                <td>@item.TargetOnName</td>
                                                <td>@item.TotalThreshold</td>
                                                <td>@item.PriorityName</td>
                                                <td>@item.Action</td>
                                                <td>@item.Description</td>
                                                @*<td>@Html.DisplayFor(modelItem => item.Team.Name)</td>
                                                <td>@Html.DisplayFor(modelItem => item.User.Name)</td>*@

                                                <td>
                                                    <a href="/WorkFlows/Edit/@item.WorkFlowId.ToString()" title="Edit WorkFlow"><i class="las la-pen text-secondary font-19"></i></a>
                                                    <a href="/WorkFlows/WorkFlowDetail/@item.WorkFlowId.ToString()" title="View WorkFlow"><i class="las la-eye font-19"></i></a>
                                                    <a href="#" onclick="execute('@item.WorkFlowId.ToString()')" title="Delete WorkFlow"><i class="las la-trash-alt text-secondary font-19"></i></a>
                                                </td>
                                            </tr><!--end tr-->
                                        }
                                    </tbody>
                                </table>
                            </div>

                        </div><!--end card-body-->
                    </div><!--end card-->
                </div> <!--end col-->
            </div><!--end row-->

        </div><!-- container -->
       
        <!--Start Footer-->
        <!-- Footer Start -->
        <footer class="footer text-center text-sm-start">
            ©
            <script>
                document.write(new Date().getFullYear())
            </script> Tech Implement
        </footer>
        <!-- end Footer -->
        <!--end footer-->
    </div>
    <!-- end page content -->
</div>
<!-- end page-wrapper -->
<script>

    function execute(id) {

        Swal.fire({
            title: 'Are you sure?',
            text: "You want to delete",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, delete it!',
        }).then(function (result) {

            if (result.isConfirmed) {
                $.ajax({
                    url: '/WorkFlows/Delete/',
                    type: "delete",
                    data: { id: id },
                    success: function () {
                        location.reload();
                        Swal.fire(
                            'Deleted!',
                            'Your record has been deleted.',
                            'success'
                        )

                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        swal("Error deleting!", "Please try again", "error");
                    }
                });
            }
        })

    }

</script>